.navbar {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  background: rgb(30, 30, 30);
}

.logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.logoLink {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
}
.logoLink:hover {
  -webkit-transform: scale(1.1);
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
}
.desktopMenuListItem:hover {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;

  transition: all 0.1s linear;
}
.desktopMenuImg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0.1rem 0.8rem;
}
.desktopMenuBtn:hover {
  border: 1px solid white;
  background: rgb(30, 30, 30);
  color: white;
}
.loginBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.2s linear;
  margin: 0% 0%;
}
.loginBtn:hover {
  border: 1px solid white;
  background: rgb(30, 30, 30);
  color: white;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: yellow;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellow;
}
.navMenu {
  position: absolute;
  top: 4rem;
  right: 2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 15rem;
  background: rgb(40, 40, 40);
  border-radius: 1rem;
}

.listItem {
  color: white;
  padding: 0.5rem 3rem;
  margin: 0.25rem;
  background: rgb(30, 30, 30);
  cursor: pointer;
}
.listItem:hover {
  border-radius: 0.8rem;
  transition: all 0.2s linear;
}
.mobMenu {
  display: none;
  object-fit: cover;
  height: 1.8rem;
  -webkit-transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 720px) {
  .mobMenu {
    display: flex;
  }
  .desktopMenu {
    display: none;
  }
  .desktopMenuBtn {
    display: none;
  }
  .btns {
    display: none;
  }
}
.mobMenu:hover {
  cursor: pointer;

  -webkit-transform: scale(1.1);
}
